.myCar,
.cartHead,
.totPrice {
  background: #fff;
  margin: 0 auto;
  width: 1200px;
}
.myCar {
  height: 66px;
  text-align: center;
  line-height: 66px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  margin-bottom: 10px;
}
.myCar .contiBuy {
  position: absolute;
  left: 30px;
  font-size: 14px;
  color: #666;
}
.cartHead {
  height: 64px;
  line-height: 64px;
  margin-bottom: 3px;
  padding: 0 26px;
}
.cartHead li {
  float: left;
  text-align: center;
  height: 100%;
}
.cartHead .proCheck {
  width: 175px;
  text-align: left;
}
.cartHead .proName {
  width: 250px;
}
.cartHead .proPrione {
  width: 168px;
  padding: 0 20px;
}
.cartHead .proCount,
.cartHead .disCount,
.cartHead .subTotal,
.cartHead .operate,
.cartHead .sentpoint {
  width: 111px;
}
.cartBox {
  height: 154px;
}
.cartBox .proCheck {
  width: 40px;
  line-height: 154px;
}
.cartBox .proName {
  width: 350px;
  margin-left: 31px;
}
.cartBox .proName .proPicBox,
.cartBox .proName .proTip {
  float: left;
}
.cartBox .proName .proPicBox {
  position: relative;
  top: 17%;
  width: 100px;
  height: 100px;
  margin: 0 30px;
  border: 1px solid #ccc;
}
.cartBox .proName .proPicBox img {
  width: 100%;
  height: 100%;
}
.cartBox .proName .proTip {
  height: 154px;
  padding-top: 25px;
  width: 128px;
  text-align: center;
}
.cartBox .proName .proNameTit,
.cartBox .proName .proColor {
  height: 20px;
}
.cartBox .proPrione {
  line-height: 154px;
}
.cartBox .numDec,
.cartBox .numVal,
.cartBox .numAdd {
  position: relative;
  top: 37%;
  left: 12%;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border: 1px solid #ccc;
  float: left;
  font-size: 12px;
}
.cartBox .numAdd,
.cartBox .numDec {
  cursor: pointer;
}
.cartBox .subTotal {
  color: #f51200;
  line-height: 154px;
}
.cartBox .movColl,
.cartBox .delpro {
  cursor: pointer;
}
.totPrice {
  height: 98px;
  line-height: 98px;
  padding: 0 26px;
  margin-bottom: 30px;
}
.totPrice li {
  margin-right: 30px;
  float: left;
}
.totPrice .totCheck,
.totPrice .delChecked,
.totPrice .movColl {
  font-size: 16px;
  cursor: pointer;
}
.totPrice .tothov:hover {
  color: #f51200;
}
.totPrice .totCheck {
  width: 74px;
}
.totPrice .delChecked {
  width: 130px;
}
.totPrice .movColl {
  width: 80px;
}
.totPrice .totPriTag {
  width: 545px;
  text-align: right;
}
.totPrice .totPriTag .totNum {
  color: #f51200;
}
.totPrice .totPriTag .totPriBox {
  color: #f51200;
  font-size: 30px;
}
.totPrice .totPay {
  width: 160px;
  height: 46px;
  border: 0;
  border-radius: 23px;
  background: #f51200;
  text-align: center;
  line-height: 46px;
  color: #fff;
  font-size: 16px;
}
